button{
    width: 60%;
    height: 40%;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 200ms ease-in-out;
    font-weight: 600;
    font-size: 17px;

    &:hover{
        background-color: #292929;
        color: #ccc;
    }
}